.games-list {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  opacity: 1;
  transition: opacity 0.75s ease-in-out;
}

.games-list.hidden {
  opacity: 0;
}
