.image-fader {
  height: 100px;
  position: relative;
}

.image-fader .overlay {
  position: absolute;
  left: 0px;
  right: 0px;
}

.image-fader .overlay img {
  height: 100px;
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}

.image-fader .overlay img.visible {
  opacity: 1;
}
