.no-games {
  opacity: 1;
  transition: opacity 0.25s ease-in-out;
}

.no-games.hidden {
  opacity: 0;
}

.no-games svg {
  width: 100px !important;
  height: 100px !important;
  color: #333350 !important;
}

.no-games h3 {
  text-align: center;
  color: #557;
  margin-top: 0px;
}
